@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    overflow-x: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --red: #ED5565;
    --red-2: #BF263C;
    --blue: #5D9DEC;
    --blue-2: #4A89DC;
    --pink: #FF00FE;
    --white: #FBFBFF;
    --green: #40FE94;
    --green-2: #26c46d;
    --black: #000000;
    --purple: #A35AFF;
    --purple-2: #8946db;
    --orange: #FF8377;
    --orange-2: #e77166;
    --yellow: #FFCE54;
    --yellow-2: #f6bb42;
    --black-2: #1D1D1B;
    --light-gray: rgba(0, 0, 0, 0.04);
    --dark-gray: #777777;
}

body {
    font-size: 100%;
    background-color: var(--white);
}

/* Header */
.header {
    gap: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* logo */
.logo-image {
    height: 60px;
    position: relative;
}

/* navabr */
.navbar-hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--black-2);
}

.navbar {
    gap: 30px;
    display: flex;
    padding: 30px 0;
}

    .navbar-link {
        line-height: 36px;
        font-weight: 500;
        color: var(--blue);
        transition: .2s ease-in;
    }

    .navbar-link:hover {
        color: var(--blue-2);
        transition: .2s ease-in;
    }

.conect-link {
    padding: 0 18px;
    font-weight: 500;
    line-height: 36px;
    color: var(--blue);
    transition: .2s ease-in-out;
    border: 2px solid var(--blue);
    box-shadow: -4px 4px 0 var(--blue-2);
}

    .conect-link:hover {
        transition: .1s ease-in;
        box-shadow: -6px 6px 0 var(--blue-2);
    }

/* Content */
.content {
    padding: 0 6%;
    margin-bottom: -40px;
    background-color: var(--light-gray);
}

/* Intro */
.intro {
    gap: 50px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;  
    align-items: center;
    padding: 50px 0 80px 0;
    justify-content: space-around;
}

.intro-content {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.intro-title {
    width: 100%;
    font-size: 64px;
    font-weight: 600;
    max-width: 800px;
    text-align: left;
    color: var(--black-2);
}

.intro-description {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    max-width: 800px;
    text-align: left;
    color: var(--black-2);
}

.primary-btn {
    width: 240px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 50px;
    color: var(--blue);
    transition: .1s ease-in-out;
    background-color: transparent;
    border: 2px solid var(--blue);
    box-shadow: -4px 4px 0 var(--blue-2);
}

    .primary-btn i {
        font-size: 15px;
        margin-left: 3px;
    }

    .primary-btn:hover {
        transition: .1s ease-in;
        box-shadow: -6px 6px 0 var(--blue-2);
    }

/* Customers */
.customers {
    width: 100%;
    display: flex;
    padding: 40px 0;
    max-width: 1400px;
    align-items: center;
    margin: 0 auto 30px auto;
    justify-content: space-evenly;
    border: 2px solid var(--blue);
    background-color: var(--white);
    box-shadow: -4px 4px 0 var(--blue-2);
}

.customers-content {
    gap: 200px;
    display: flex;
    justify-content: space-evenly;
}

/* Footer */
.footer {
    display: flex;
    padding: 24px;
    justify-content: center;
}

.copy, .copy-link{
    font-weight: 500;
    color: var(--black-2);
    transition: .2s ease-in;
}

    .copy-link:hover {
        color: var(--blue-2);
        transition: .2s ease-in;
    }

@media only screen and (max-width: 1200px) {
    .header {
        gap: 350px;
    }

    .primary-image {
        height: 400px;
    }

    .content {
        margin-bottom: -30px;
    }

    .intro {
        padding: 60px 0 90px 0;
    }

    .intro-title {
        font-size: 48px;
    }
    
    .intro-description {
        font-size: 16px;
        max-width: 600px;
    }
    
    .primary-btn {
        width: 220px;
        font-size: 15px;
        line-height: 44px;
    }
    
        .primary-btn i {
            font-size: 14px;
            margin-left: 3px;
        }

    .customers {
        padding: 30px 0;
        max-width: 1100px;
        margin: 0 auto 40px auto;
    }

    .customers-content {
        gap: 140px;
    }
}

@media only screen and (max-width: 992px) {
    .header {
        gap: 300px;
    }

    .customers {
        padding: 24px 0;
        max-width: 900px;
        margin: 0 auto 40px auto;
    }

    .customers-content {
        gap: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        gap: 120px;
    }

    .intro-title {
        font-size: 32px;
    }

    .intro-description {
        font-size: 15px;
        max-width: 600px;
    }

    .primary-image {
        height: 320px;
    }

    .customers {
        padding: 24px 0;
        max-width: 700px;
        margin: 0 auto 40px auto;
    }

    .customers-content {
        gap: 40px;
    }
    
}

@media only screen and (max-width: 600px) {
    .header {
        gap: 400px;
        padding: 10px 0;
    }

    .intro {
        gap: 30px;
        flex-direction: column-reverse;
    }

    .intro-title {
        font-size: 42px;
        text-align: center;
    }
    
    .intro-description {
        font-size: 15px;
        text-align: center;
    }
    
    .primary-btn {
        font-size: 15px;
        margin: 0 auto;
    }
    
        .primary-btn i {
            font-size: 14px;
        }

    .customers {
        padding: 24px 0;
        max-width: 570px;
        margin: 0 auto 40px auto;
    }

    .customers-content {
        gap: 20px;
    }

    .customers-image {
        height: 30px;
    }

/* Navbar Mobile*/
.navbar-hamburger {
    display: block;
    z-index: 99999;
}

    .navbar-hamburger.active .hamburger-bar:nth-child(2){
        opacity: 0;
    }

    .navbar-hamburger.active .hamburger-bar:nth-child(1){
        background-color: var(--black-2);
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-hamburger.active .hamburger-bar:nth-child(3){
        background-color: var(--black-2);
        transform: translateY(-8px) rotate(-45deg);
    }

.navbar {
    top: 0px;
    right: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    position: fixed;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    transition: .2s ease-in;
    backdrop-filter: blur(5px);
    background-color: var(--white);
}

.navbar.active {
    right: 0%;
    transition: .2s ease-in;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar-link {
    padding: 0 20px;
    font-weight: 500;
    color: var(--black-2);
    text-align: center;
}
}

@media only screen and (max-width: 425px) {
    .header {
        gap: 200px;
        padding: 10px 0;
    }

    .intro {
        gap: 30px;
        flex-direction: column-reverse;
    }

    .intro-title {
        font-size: 36px;
        text-align: center;
    }
    
    .intro-description {
        font-size: 15px;
        text-align: center;
    }
    
    .primary-btn {
        font-size: 14px;
        margin: 0 auto;
    }
    
        .primary-btn i {
            font-size: 13px;
        }

    .customers {
        padding: 24px 0;
        max-width: 380px;
        align-items: center;
        margin: 0 auto 30px auto;
        justify-content: center;
        flex-direction: column;
    }

    .customers-content {
        gap: 50px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .customers-image {
        height: 30px;
    }

.footer {
    font-size: 15px;
    text-align: center;
}

}

@media only screen and (max-width: 375px) {
    .primary-image {
        height: 280px;
    }

    .intro-title {
        font-size: 28px;
        text-align: center;
    }
    
    .intro-description {
        font-size: 15px;
        text-align: center;
    }

    .customers {
        max-width: 350px;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        gap: 150px;
        padding: 10px 0;
    }

    .customers {
        max-width: 300px;
        flex-direction: column;
    }

    .customers-content {
        gap: 25px;
    }

    .customers-image {
        height: 30px;
    }

}
